<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh;">
    <div>
        <h1>
            Please Try Again !
        </h1>
        <a href = "{{ url_for('login') }}" style="text-decoration: none;">

            <button style=" display:flex; align-items: center; justify-content: center; width: 100%;">
                Login
            </button>
        </a>
    </div>
</body>
</html>